# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# dotenv
.env
.env.*

# MyPy / Pylint / Pyright
.mypy_cache/
.pyright/
.pyre/

# SQLite database
*.sqlite3

# Logs
*.log
